In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
### NSEFUTURES CSV

In [3]:
path = r'NSEFUTURES/NiftyStocksFutures/' # use your path
all_files = glob.glob(path + "*/*.csv")

li = []
count = 1

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [4]:
frame = frame.fillna(value=np.nan)

In [5]:
frame = frame.fillna(-1)

In [6]:
frame['Symbol'].unique()

array(['MUNDRAPORT', 'ADANIPORTS', 'ASIANPAINT', 'UTIBANK', 'AXISBANK',
       'BAJAJ-AUTO', 'BAJAJFINSV', 'BAJFINANCE', 'BHARTI', 'BHARTIARTL',
       'BPCL', 'BRITANNIA', 'CIPLA', 'COALINDIA', 'DRREDDY', 'EICHERMOT',
       'GAIL', 'GRASIM', 'HCLTECH', 'HDFC', 'HDFCBANK', 'HEROHONDA',
       'HEROMOTOCO', 'HINDALC0', 'HINDALCO', 'HINDLEVER', 'HINDUNILVR',
       'ICICIBANK', 'INDUSINDBK', 'INFRATEL', 'INFOSYSTCH', 'INFY', 'IOC',
       'ITC', 'JSWSTEEL', 'KOTAKBANK', 'LT', 'MARUTI', 'M&amp;M',
       'NESTLEIND', 'NTPC', 'ONGC', 'POWERGRID', 'RELIANCE', 'SBIN',
       'SHREECEM', 'SUNPHARMA', 'TELCO', 'TATAMOTORS', 'TISCO',
       'TATASTEEL', 'TCS', 'TECHM', 'TITAN', 'ULTRACEMCO', 'UNIPHOS',
       'UPL', 'SESAGOA', 'SSLT', 'VEDL', 'WIPRO', 'ZEETELE', 'ZEEL'],
      dtype=object)

In [7]:
count = 1
ls = []
for i in frame['Symbol'].unique():
    mf = frame.loc[frame['Symbol'] == i]
    mf['stockKey'] = count
    count = count + 1
    ls.append(mf)
    
frame = pd.concat(ls, axis=0, ignore_index=True)

<ipython-input-7-8b27e8bc8e77>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mf['stockKey'] = count

In [13]:
frame

,Symbol,Date,Expiry,Open_Price,High_Price,Low_Price,Close_Price,Last_Price,Settle_Price,No_of_Contracts,Turnover_in_Lacs,Open_Int,Change_in_OI,Underlying_Value,stockKey
0,MUNDRAPORT,19-Feb-2010,25-Feb-2010,666.00,683.0,652.9,657.45,656.50,657.45,520,1036.64,45300,45300,655.3,1
1,MUNDRAPORT,19-Feb-2010,25-Mar-2010,669.00,675.0,657.8,658.70,657.80,658.70,155,308.98,35100,35100,655.3,1
2,MUNDRAPORT,19-Feb-2010,29-Apr-2010,0.00,0.0,0.0,674.25,0.00,661.35,0,0.00,0,0,655.3,1
3,MUNDRAPORT,22-Feb-2010,25-Feb-2010,663.50,664.6,646.5,648.00,646.50,648.00,132,259.11,49500,4200,648.05,1
4,MUNDRAPORT,22-Feb-2010,25-Mar-2010,663.15,665.0,648.0,648.90,648.90,648.90,51,100.08,37800,2700,648.05,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520771,ZEEL,27-Feb-2015,30-Apr-2015,352.50,352.6,347.6,352.10,352.45,352.10,25,87.54,27000,13000,348.95,63
520772,ZEEL,27-Feb-2015,28-May-2015,0.00,0.0,0.0,350.60,0.00,356.50,0,0.00,0,0,348.95,63
520773,ZEEL,28-Feb-2015,26-Mar-2015,350.95,352.5,345.1,349.20,347.90,349.20,2054,7182.33,11078000,220000,346.45,63
520774,ZEEL,28-Feb-2015,30-Apr-2015,351.35,354.6,348.0,352.00,352.00,352.00,21,74.05,32000,5000,346.45,63
520775,ZEEL,28-Feb-2015,28-May-2015,0.00,0.0,0.0,350.60,0.00,353.85,0,0.00,0,0,346.45,63

In [12]:
frame.rename(columns = {'Open':'Open_Price', 'High':'High_Price', 
                              'Low':'Low_Price', 'Close':'Close_Price', 'LTP':'Last_Price', 'No. of Trades':'No_of_Trades','Deliverable Qty':'Deliverable_Qty','%Dly Qt to Traded Qty':'%Dly_Qt_to_Traded_Qty', 'Settle Price':'Settle_Price', 'No. of contracts': 'No_of_Contracts','Turnover in Lacs':'Turnover_in_Lacs','Open Int':'Open_Int','Change in OI':'Change_in_OI','Underlying Value ':'Underlying_Value'}, inplace = True)

In [14]:
frame['Date']

frame['Date'] = pd.to_datetime(frame.Date)

In [15]:
frame['Date'] = frame['Date'].dt.strftime('%Y-%m-%d')

In [16]:
frame['Date']

0         2010-02-19
1         2010-02-19
2         2010-02-19
3         2010-02-22
4         2010-02-22
             ...
520771    2015-02-27
520772    2015-02-27
520773    2015-02-28
520774    2015-02-28
520775    2015-02-28
Name: Date, Length: 520776, dtype: object

In [18]:
for i in range(0, len(frame), 20000):
    col1 = frame[i:i+20000]
#     col1 = col1.to_frame()
    col1.to_csv(r"NiftyStocksFutures_col_"+str(i)+".csv")

In [17]:
frame.to_csv("nsefutures_v2.csv")

In [ ]:
# NSESECURITIES CSV

In [19]:
path = r'NSESECURITIES/' # use your path
all_files = glob.glob(path + "*/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [20]:
frame = frame.fillna(value=np.nan)

In [21]:
frame = frame.fillna(-1)

In [22]:
frame.shape

(290753, 15)

In [23]:
count = 1
ls = []
for i in frame['Symbol'].unique():
    mf = frame.loc[frame['Symbol'] == i]
    mf['stockKey'] = count
    count = count + 1
    ls.append(mf)
    
frame = pd.concat(ls, axis=0, ignore_index=True)

<ipython-input-23-8b27e8bc8e77>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mf['stockKey'] = count

In [24]:
frame.rename(columns = {'Open Price':'Open_Price', 'High Price':'High_Price', 
                              'Low Price':'Low_Price', 'Close Price':'Close_Price', 'Last Price':'Last_Price', 'Prev Close':'Prev_Close', 'Average Price':'Average_Price', 'Total Traded Quantity':'Total_Traded_Quantity','No. of Trades':'No_Of_Trades','Deliverable Qty':'Deliverable_Qty','% Dly Qt to Traded Qty':'%Dly_Qt_to_Traded_Qty'}, inplace=True)

In [25]:
frame['Date']

frame['Date'] = pd.to_datetime(frame.Date)

In [26]:
frame['Date'] = frame['Date'].dt.strftime('%Y-%m-%d')

In [27]:
frame.columns

Index(['Symbol', 'Series', 'Date', 'Prev_Close', 'Open_Price', 'High_Price',
       'Low_Price', 'Last_Price', 'Close_Price', 'Average_Price',
       'Total_Traded_Quantity', 'Turnover', 'No_Of_Trades', 'Deliverable_Qty',
       '%Dly_Qt_to_Traded_Qty', 'stockKey'],
      dtype='object')

In [28]:
for i in range(0, len(frame), 20000):
    col1 = frame[i:i+20000]
#     col1 = col1.to_frame()
    col1.to_csv(r"nsesec_col_"+str(i)+".csv")

In [29]:
frame.to_csv("nsesecurities_v2.csv")

In [ ]:
list(frame)

In [30]:
import pandas as pd
import numpy as np
from py2neo import Graph
from neo4j import GraphDatabase

In [31]:
# df = pd.read_parquet('product_master_05062020230002.parquet/product_master_05062020230002.parquet', engine='pyarrow')

In [32]:
from neo4j import __version__ as neo4j_version
print(neo4j_version)

4.1.1

In [33]:
from neo4j import GraphDatabase

class Neo4jConnection:
    
    def __init__(self, uri, user, pwd):
        self.__uri = uri
        self.__user = user
        self.__pwd = pwd
        self.__driver = None
        try:
            self.__driver = GraphDatabase.driver(self.__uri, auth=(self.__user, self.__pwd))
        except Exception as e:
            print("Failed to create the driver:", e)
        
    def close(self):
        if self.__driver is not None:
            self.__driver.close()
        
    def query(self, query, db=None):
        assert self.__driver is not None, "Driver not initialized!"
        session = None
        response = None
        try: 
            session = self.__driver.session(database=db) if db is not None else self.__driver.session() 
            response = list(session.run(query))
        except Exception as e:
            print("Query failed:", e)
        finally: 
            if session is not None:
                session.close()
        return response

In [35]:
conn = Neo4jConnection(uri="bolt://localhost:7687", user="karan", pwd="root")

In [36]:
#list(frame)

In [43]:
conn.query("CREATE OR REPLACE DATABASE stock")

[]

In [44]:
# ### lOAD DATE NODES

# query_string = '''
# LOAD CSV WITH HEADERS FROM 'file:///nsesec_col_20000.csv' AS row
# MERGE (s:Stock { Symbol: row.Symbol, Series: row.Series, Prev_Close: row.Prev_Close, Open_Price: row.Open_Price, High_Price: row.High_Price, Low_Price:row.Low_Price,Last_Price:row.Last_Price,Close_Price:row.Close_Price,Average_Price:row.Average_Price,Total_Traded_Quantity:row.Total_Traded_Quantity })
# MERGE (d:Date {Date: row.Date})

# '''
# # started at 10 05
# conn.query(query_string, db='stock')

In [45]:
### lOAD DATE NODES

query_string = '''

LOAD CSV WITH HEADERS FROM 'file:///date_1980_onwards.csv' AS line
CREATE (a: Date { date: line.Date})

'''
# started at 10 05
conn.query(query_string, db='stock')

[]

In [46]:
query_string = '''
MATCH (n) RETURN count(n)
'''

conn.query(query_string, db='stock')

In [47]:
### LOAD STOCK DATA AND POINT THEM TO THEIR RESPECTIVE DATES

query_string = '''
LOAD CSV WITH HEADERS FROM 'file:///nsesecurities_v2_sample.csv' AS row
MERGE (s:Stock { Symbol: row.Symbol, Series: row.Series, Prev_Close: row.Prev_Close, Open_Price: row.Open_Price, High_Price: row.High_Price, Low_Price:row.Low_Price,Last_Price:row.Last_Price,Close_Price:row.Close_Price,Average_Price:row.Average_Price,Total_Traded_Quantity:row.Total_Traded_Quantity })
MERGE (d:Date {Date: row.Date})

MERGE (s)<-[:HAS_DATE]->(d)
'''
# started at 11 40
conn.query(query_string, db='stock')

[]

In [48]:
query_string = '''
MATCH (n) RETURN count(n)
'''

conn.query(query_string, db='stock')

In [ ]:
### LOAD COMPANY NODES AND POINT THEM TO THEIR RESPECTIVE STOCK NODES

query_string = '''
LOAD CSV WITH HEADERS FROM 'file:///Stock_cin_v2_sample.csv' AS row
MERGE (s:Stock { Symbol: row.Symbol, Alternate_Name: row.Alternate_Name, CIN: row.CIN, Company_Name: row.Company_Name, Company_Status: row.Company_Status, RoC:row.RoC,Registration_Number:row.Registration_Number,Company_Category:row.Company_Category,Company_Sub_Category:row.Company_Sub_Category,Class_of_Company:row.Class_of_Company, Date_of_Incorporation:row.Date_of_Incorporation,Age_of_Company:row.Age_of_Company,Activity:row.Activity 
 })
MERGE (d:Date {Date: row.Date})


'''
# started at 10 05
conn.query(query_string, db='testpm')

In [ ]:
query_string = '''
MATCH (n) RETURN count(n)
'''

conn.query(query_string, db='testpm')

In [ ]:
query_string = '''
USING PERIODIC COMMIT 10000
LOAD CSV FROM 'file:///nsesec_col_280000.csv' AS line
MERGE(a: Symbol { Symbol: line[1]})
MERGE (b: Series {Series: line[2]})
MERGE(c: Date { Date: line[3]})
MERGE(d: Prev_Close { Prev_Close: line[4]})
MERGE(e: Open { Open: line[5]})
MERGE(f: High { High: line[6]})
MERGE(g: Low { Low: line[7]})
MERGE(h: LTP { LTP: line[8]})
MERGE(i: Close { Close: line[9]})
MERGE(j: Average_Price {Average_Price: line[10]})
MERGE(k: Total_Traded_Quantity {Total_Traded_Quantity : line[11]})
MERGE(l: Turnover {Turnover : line[12]})
MERGE(m: No_of_Trades {No_Of_Trades: line[13]})
MERGE(n: Deliverable_Qty {Deliverable_Qty: line[14]})
MERGE(o: Deliverable_Qty_To_Traded_Qty {Deliverable_Qty_To_Traded_Qty: line[15]})
//Relationships::


MERGE (a)-[:Series]->(b)
MERGE (a)-[:Date]->(c)
MERGE (a)-[:Prev_Close]->(d)
MERGE (a)-[:Open]->(e)
MERGE (a)-[:High]->(f)
MERGE (a)-[:Low]->(g)
MERGE (a)-[:LTP]->(h)
MERGE (a)-[:Close]->(i)
MERGE (a)-[:Average_Price]->(j)
MERGE (a)-[:Total_Traded_Quantity]->(k)
MERGE (a)-[:Turnover]->(l)
MERGE (a)-[:No_of_Trades]->(m)
MERGE (a)-[:Deliverable_Qty]->(n)
MERGE (a)-[:Deliverable_Qty_To_Traded_Qty]->(o)

'''
# started at 10 05
conn.query(query_string, db='testpm')

In [ ]:
query_string = '''
MATCH (n) RETURN count(n)
'''

conn.query(query_string, db='testpm')

In [ ]:
query_string = '''
USING PERIODIC COMMIT 10000
LOAD CSV FROM 'file:///nsesec_col_300000.csv' AS line
MERGE(a: Symbol { Symbol: line[1]})
MERGE (b: Series {Series: line[2]})
MERGE(c: Date { Date: line[3]})
MERGE(d: Prev_Close { Prev_Close: line[4]})
MERGE(e: Open { Open: line[5]})
MERGE(f: High { High: line[6]})
MERGE(g: Low { Low: line[7]})
MERGE(h: LTP { LTP: line[8]})
MERGE(i: Close { Close: line[9]})
MERGE(j: Average_Price {Average_Price: line[10]})
MERGE(k: Total_Traded_Quantity {Total_Traded_Quantity : line[11]})
MERGE(l: Turnover {Turnover : line[12]})
MERGE(m: No_of_Trades {No_Of_Trades: line[13]})
MERGE(n: Deliverable_Qty {Deliverable_Qty: line[14]})
MERGE(o: Deliverable_Qty_To_Traded_Qty {Deliverable_Qty_To_Traded_Qty: line[15]})
//Relationships::


MERGE (a)-[:Series]->(b)
MERGE (a)-[:Date]->(c)
MERGE (a)-[:Prev_Close]->(d)
MERGE (a)-[:Open]->(e)
MERGE (a)-[:High]->(f)
MERGE (a)-[:Low]->(g)
MERGE (a)-[:LTP]->(h)
MERGE (a)-[:Close]->(i)
MERGE (a)-[:Average_Price]->(j)
MERGE (a)-[:Total_Traded_Quantity]->(k)
MERGE (a)-[:Turnover]->(l)
MERGE (a)-[:No_of_Trades]->(m)
MERGE (a)-[:Deliverable_Qty]->(n)
MERGE (a)-[:Deliverable_Qty_To_Traded_Qty]->(o)

'''
# started at 10 05
conn.query(query_string, db='testpm')

In [ ]:
query_string = '''
MATCH (n) RETURN count(n)
'''

conn.query(query_string, db='testpm')

In [ ]:
query_string = '''
USING PERIODIC COMMIT 10000
LOAD CSV FROM 'file:///nsesec_col_100000.csv' AS line
MERGE(a: Symbol { Symbol: line[1]})
MERGE (b: Series {Series: line[2]})
MERGE(c: Date { Date: line[3]})
MERGE(d: Prev_Close { Prev_Close: line[4]})
MERGE(e: Open { Open: line[5]})
MERGE(f: High { High: line[6]})
MERGE(g: Low { Low: line[7]})
MERGE(h: LTP { LTP: line[8]})
MERGE(i: Close { Close: line[9]})
MERGE(j: Average_Price {Average_Price: line[10]})
MERGE(k: Total_Traded_Quantity {Total_Traded_Quantity : line[11]})
MERGE(l: Turnover {Turnover : line[12]})
MERGE(m: No_of_Trades {No_Of_Trades: line[13]})
MERGE(n: Deliverable_Qty {Deliverable_Qty: line[14]})
MERGE(o: Deliverable_Qty_To_Traded_Qty {Deliverable_Qty_To_Traded_Qty: line[15]})
//Relationships::


MERGE (a)-[:Series]->(b)
MERGE (a)-[:Date]->(c)
MERGE (a)-[:Prev_Close]->(d)
MERGE (a)-[:Open]->(e)
MERGE (a)-[:High]->(f)
MERGE (a)-[:Low]->(g)
MERGE (a)-[:LTP]->(h)
MERGE (a)-[:Close]->(i)
MERGE (a)-[:Average_Price]->(j)
MERGE (a)-[:Total_Traded_Quantity]->(k)
MERGE (a)-[:Turnover]->(l)
MERGE (a)-[:No_of_Trades]->(m)
MERGE (a)-[:Deliverable_Qty]->(n)
MERGE (a)-[:Deliverable_Qty_To_Traded_Qty]->(o)


'''
# started at 10 05
conn.query(query_string, db='testpm')

In [ ]:
query_string = '''
MATCH (n) RETURN count(n)
'''

conn.query(query_string, db='testpm')

In [ ]:
query_string = '''
USING PERIODIC COMMIT 10000
LOAD CSV FROM 'file:///nsesec_col_120000.csv' AS line
MERGE(a: Symbol { Symbol: line[1]})
MERGE (b: Series {Series: line[2]})
MERGE(c: Date { Date: line[3]})
MERGE(d: Prev_Close { Prev_Close: line[4]})
MERGE(e: Open { Open: line[5]})
MERGE(f: High { High: line[6]})
MERGE(g: Low { Low: line[7]})
MERGE(h: LTP { LTP: line[8]})
MERGE(i: Close { Close: line[9]})
MERGE(j: Average_Price {Average_Price: line[10]})
MERGE(k: Total_Traded_Quantity {Total_Traded_Quantity : line[11]})
MERGE(l: Turnover {Turnover : line[12]})
MERGE(m: No_of_Trades {No_Of_Trades: line[13]})
MERGE(n: Deliverable_Qty {Deliverable_Qty: line[14]})
MERGE(o: Deliverable_Qty_To_Traded_Qty {Deliverable_Qty_To_Traded_Qty: line[15]})
//Relationships::


MERGE (a)-[:Series]->(b)
MERGE (a)-[:Date]->(c)
MERGE (a)-[:Prev_Close]->(d)
MERGE (a)-[:Open]->(e)
MERGE (a)-[:High]->(f)
MERGE (a)-[:Low]->(g)
MERGE (a)-[:LTP]->(h)
MERGE (a)-[:Close]->(i)
MERGE (a)-[:Average_Price]->(j)
MERGE (a)-[:Total_Traded_Quantity]->(k)
MERGE (a)-[:Turnover]->(l)
MERGE (a)-[:No_of_Trades]->(m)
MERGE (a)-[:Deliverable_Qty]->(n)
MERGE (a)-[:Deliverable_Qty_To_Traded_Qty]->(o)

'''
# started at 10 05
conn.query(query_string, db='testpm')

In [ ]:
query_string = '''
MATCH (n) RETURN count(n)
'''

conn.query(query_string, db='testpm')

In [ ]:
query_string = '''
USING PERIODIC COMMIT 10000
LOAD CSV FROM 'file:///nsesec_col_140000.csv' AS line
MERGE(a: Symbol { Symbol: line[1]})
MERGE (b: Series {Series: line[2]})
MERGE(c: Date { Date: line[3]})
MERGE(d: Prev_Close { Prev_Close: line[4]})
MERGE(e: Open { Open: line[5]})
MERGE(f: High { High: line[6]})
MERGE(g: Low { Low: line[7]})
MERGE(h: LTP { LTP: line[8]})
MERGE(i: Close { Close: line[9]})
MERGE(j: Average_Price {Average_Price: line[10]})
MERGE(k: Total_Traded_Quantity {Total_Traded_Quantity : line[11]})
MERGE(l: Turnover {Turnover : line[12]})
MERGE(m: No_of_Trades {No_Of_Trades: line[13]})
MERGE(n: Deliverable_Qty {Deliverable_Qty: line[14]})
MERGE(o: Deliverable_Qty_To_Traded_Qty {Deliverable_Qty_To_Traded_Qty: line[15]})
//Relationships::


MERGE (a)-[:Series]->(b)
MERGE (a)-[:Date]->(c)
MERGE (a)-[:Prev_Close]->(d)
MERGE (a)-[:Open]->(e)
MERGE (a)-[:High]->(f)
MERGE (a)-[:Low]->(g)
MERGE (a)-[:LTP]->(h)
MERGE (a)-[:Close]->(i)
MERGE (a)-[:Average_Price]->(j)
MERGE (a)-[:Total_Traded_Quantity]->(k)
MERGE (a)-[:Turnover]->(l)
MERGE (a)-[:No_of_Trades]->(m)
MERGE (a)-[:Deliverable_Qty]->(n)
MERGE (a)-[:Deliverable_Qty_To_Traded_Qty]->(o)
'''
# started at 10 05
conn.query(query_string, db='testpm')

In [ ]:
query_string = '''
MATCH (n) RETURN count(n)
'''

conn.query(query_string, db='testpm')

In [ ]:
query_string = '''
USING PERIODIC COMMIT 10000
LOAD CSV FROM 'file:///nsesec_col_160000.csv' AS line
MERGE(a: Symbol { Symbol: line[1]})
MERGE (b: Series {Series: line[2]})
MERGE(c: Date { Date: line[3]})
MERGE(d: Prev_Close { Prev_Close: line[4]})
MERGE(e: Open { Open: line[5]})
MERGE(f: High { High: line[6]})
MERGE(g: Low { Low: line[7]})
MERGE(h: LTP { LTP: line[8]})
MERGE(i: Close { Close: line[9]})
MERGE(j: Average_Price {Average_Price: line[10]})
MERGE(k: Total_Traded_Quantity {Total_Traded_Quantity : line[11]})
MERGE(l: Turnover {Turnover : line[12]})
MERGE(m: No_of_Trades {No_Of_Trades: line[13]})
MERGE(n: Deliverable_Qty {Deliverable_Qty: line[14]})
MERGE(o: Deliverable_Qty_To_Traded_Qty {Deliverable_Qty_To_Traded_Qty: line[15]})
//Relationships::


MERGE (a)-[:Series]->(b)
MERGE (a)-[:Date]->(c)
MERGE (a)-[:Prev_Close]->(d)
MERGE (a)-[:Open]->(e)
MERGE (a)-[:High]->(f)
MERGE (a)-[:Low]->(g)
MERGE (a)-[:LTP]->(h)
MERGE (a)-[:Close]->(i)
MERGE (a)-[:Average_Price]->(j)
MERGE (a)-[:Total_Traded_Quantity]->(k)
MERGE (a)-[:Turnover]->(l)
MERGE (a)-[:No_of_Trades]->(m)
MERGE (a)-[:Deliverable_Qty]->(n)
MERGE (a)-[:Deliverable_Qty_To_Traded_Qty]->(o)
'''
# started at 10 05
conn.query(query_string, db='testpm')

In [ ]:
query_string = '''
MATCH (n) RETURN count(n)
'''

conn.query(query_string, db='testpm')

In [ ]:
query_string = '''
USING PERIODIC COMMIT 10000
LOAD CSV FROM 'file:///nsesec_col_180000.csv' AS line
MERGE(a: Symbol { Symbol: line[1]})
MERGE (b: Series {Series: line[2]})
MERGE(c: Date { Date: line[3]})
MERGE(d: Prev_Close { Prev_Close: line[4]})
MERGE(e: Open { Open: line[5]})
MERGE(f: High { High: line[6]})
MERGE(g: Low { Low: line[7]})
MERGE(h: LTP { LTP: line[8]})
MERGE(i: Close { Close: line[9]})
MERGE(j: Average_Price {Average_Price: line[10]})
MERGE(k: Total_Traded_Quantity {Total_Traded_Quantity : line[11]})
MERGE(l: Turnover {Turnover : line[12]})
MERGE(m: No_of_Trades {No_Of_Trades: line[13]})
MERGE(n: Deliverable_Qty {Deliverable_Qty: line[14]})
MERGE(o: Deliverable_Qty_To_Traded_Qty {Deliverable_Qty_To_Traded_Qty: line[15]})
//Relationships::


MERGE (a)-[:Series]->(b)
MERGE (a)-[:Date]->(c)
MERGE (a)-[:Prev_Close]->(d)
MERGE (a)-[:Open]->(e)
MERGE (a)-[:High]->(f)
MERGE (a)-[:Low]->(g)
MERGE (a)-[:LTP]->(h)
MERGE (a)-[:Close]->(i)
MERGE (a)-[:Average_Price]->(j)
MERGE (a)-[:Total_Traded_Quantity]->(k)
MERGE (a)-[:Turnover]->(l)
MERGE (a)-[:No_of_Trades]->(m)
MERGE (a)-[:Deliverable_Qty]->(n)
MERGE (a)-[:Deliverable_Qty_To_Traded_Qty]->(o)

'''
# started at 10 05
conn.query(query_string, db='testpm')

In [ ]:
query_string = '''
MATCH (n) RETURN count(n)
'''

conn.query(query_string, db='testpm')

In [ ]:
query_string = '''
USING PERIODIC COMMIT 10000
LOAD CSV FROM 'file:///nsesec_col_200000.csv' AS line
MERGE(a: Symbol { Symbol: line[1]})
MERGE (b: Series {Series: line[2]})
MERGE(c: Date { Date: line[3]})
MERGE(d: Prev_Close { Prev_Close: line[4]})
MERGE(e: Open { Open: line[5]})
MERGE(f: High { High: line[6]})
MERGE(g: Low { Low: line[7]})
MERGE(h: LTP { LTP: line[8]})
MERGE(i: Close { Close: line[9]})
MERGE(j: Average_Price {Average_Price: line[10]})
MERGE(k: Total_Traded_Quantity {Total_Traded_Quantity : line[11]})
MERGE(l: Turnover {Turnover : line[12]})
MERGE(m: No_of_Trades {No_Of_Trades: line[13]})
MERGE(n: Deliverable_Qty {Deliverable_Qty: line[14]})
MERGE(o: Deliverable_Qty_To_Traded_Qty {Deliverable_Qty_To_Traded_Qty: line[15]})
//Relationships::


MERGE (a)-[:Series]->(b)
MERGE (a)-[:Date]->(c)
MERGE (a)-[:Prev_Close]->(d)
MERGE (a)-[:Open]->(e)
MERGE (a)-[:High]->(f)
MERGE (a)-[:Low]->(g)
MERGE (a)-[:LTP]->(h)
MERGE (a)-[:Close]->(i)
MERGE (a)-[:Average_Price]->(j)
MERGE (a)-[:Total_Traded_Quantity]->(k)
MERGE (a)-[:Turnover]->(l)
MERGE (a)-[:No_of_Trades]->(m)
MERGE (a)-[:Deliverable_Qty]->(n)
MERGE (a)-[:Deliverable_Qty_To_Traded_Qty]->(o)

'''
# started at 10 05
conn.query(query_string, db='testpm')

In [ ]:
query_string = '''
MATCH (n) RETURN count(n)
'''

conn.query(query_string, db='testpm')