In [5]:
import pandas as pd
import numpy as np
import glob

In [6]:
frame = pd.read_csv("PreprocessNifty50Ftures.csv")

In [7]:
frame

,Date,Price,Open,High,Low,Volume,ChgPct,fDate,fVolume
0,01-20-2020,12263.15,12413.4,12419.20,12252.00,9.51M,-0.98,20200120,9510000
1,01-17-2020,12384.65,12345.0,12407.50,12335.00,6.00M,0.08,20200117,6000000
2,01-16-2020,12374.35,12359.4,12409.40,12339.20,6.29M,-0.03,20200116,6290000
3,01-15-2020,12378.05,12363.4,12391.95,12319.05,6.39M,-0.15,20200115,6390000
4,01-14-2020,12397.00,12359.9,12412.50,12331.20,6.53M,0.28,20200114,6530000
...,...,...,...,...,...,...,...,...,...
4994,06-19-2000,1497.65,1482.0,1508.00,1479.00,21.40K,1.45,20000619,21400
4995,06-16-2000,1476.30,1456.7,1478.90,1452.00,20.20K,1.91,20000616,20200
4996,06-15-2000,1448.70,1445.0,1455.00,1436.00,14.20K,-0.06,20000615,14200
4997,06-14-2000,1449.50,1455.0,1463.10,1444.10,6.60K,0.75,20000614,6600
4998,06-13-2000,1438.75,1442.0,1449.00,1430.00,4.20K,-0.96,20000613,4200

In [8]:
frame = frame.fillna(value=np.nan)

In [9]:
frame = frame.fillna(-1)

In [10]:
frame['Date']

frame['Date'] = pd.to_datetime(frame.Date)

In [11]:
frame['Date'] = frame['Date'].dt.strftime('%Y-%m-%d')

In [12]:
frame['Date']

0       2020-01-20
1       2020-01-17
2       2020-01-16
3       2020-01-15
4       2020-01-14
           ...
4994    2000-06-19
4995    2000-06-16
4996    2000-06-15
4997    2000-06-14
4998    2000-06-13
Name: Date, Length: 4999, dtype: object